{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <main id="editor">
        <map-box :maps="{{ maps }}"></map-box>
        <editor :user="{{ app.user|serialize('json', { groups: 'user:read'}) }}"></editor>
    </main>
    <aside id="right-side-box">
        <right-side-box></right-side-box>
    </aside>
{% endblock %}
