<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ereon - Se connecter</title>
        {{ encore_entry_link_tags('reset') }}
        {{ encore_entry_link_tags('login') }}
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="main">
            <div class="login-wrapper">
                <h1>Bienvenue sur Ereon</h1>
                <form action="{{ path('app_login') }}" method="post" class="login-box">
                    <div class="form-row">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="form-row">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/">
                    
                    <button type="submit">SE CONNECTER</button>
                </form>
            </div>
        </main>
    </body>
</html>
