<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ereon - Se connecter</title>
        {{ encore_entry_link_tags('reset') }}
        {{ encore_entry_link_tags('login') }}
        <link rel="shortcut icon" href="/build/images/logo/favicon.ico">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/build/images/logo/icon_180.png">
        <link rel="icon" type="image/png" sizes="180x180" href="/build/images/logo/icon_180.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" sizes="60x60" href="/build/images/logo/icon_60.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" sizes="76x76" href="/build/images/logo/icon_76.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" sizes="120x120" href="/build/images/logo/icon_120.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="/build/images/logo/icon_152.png">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="main">
            <picture class="login-background">
                <source type="image/webp" srcset="{{ asset('build/images/logo/background.webp') }}, {{ asset('build/images/logo/background@2x.webp') }} 2x">
                <source type="image/png" srcset="{{ asset('build/images/logo/background.png') }}, {{ asset('build/images/logo/background@2x.png') }} 2x">
                <img decoding="async" src="{{ asset('build/images/logo/background.png') }}" alt="">
            </picture>
            <div class="login-wrapper">
                <h1>Bienvenue sur Ereon</h1>
                <form action="{{ path('app_login') }}" method="post" class="login-box">
                    <div class="form-row">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="form-row">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/">
                    
                    <button type="submit">SE CONNECTER</button>
                </form>
            </div>
        </main>
    </body>
</html>
