{% extends 'security/base.html.twig' %}

{% block body %}
    <div class="login-box">
        <h1>Se connecter</h1>
        <form action="{{ path('app_login') }}" method="post" class="login-form">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <a href="{{ path('app_forgot_password_request') }}" class="password-forget-label">Mot de passe oublié?</a>
                <input type="password" id="password" name="_password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="/">
            {% if error %}
                <div class="form-error"><span class="form-error-prefix">ERREUR</span><span>{{ error.messageKey }}</span></div>
            {% endif %}
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
    </div>
    <div class="login-box">
        <span>Vous n’avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></span>
    </div>
{% endblock %}